.login-scene {
    display: flex;
    flex-direction: column;
    height: 93vh;
    margin: 0 auto;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.header-login {
    text-align: center;
}

.login {
    background-color: white;
    /* justify-content: center; */
    width: 400px;
    border: 2px solid gray;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-register {
    margin-top: 10px;
    font-size: small;
}

.to-register-link {
    width: fit-content;
    text-decoration: none;
    color: green;
}

.btn-login {
    width: 80%;
    display: flex;
    margin: 0 auto;
}