.navbar-container {
    display: flex;
    padding: 1rem 1.5rem;
    justify-content: flex-end;
    background-color: #be3144;
    align-items: center;
}

.navbar-container>* {
    margin: 0 1.25rem;
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 99, 230);
}

.navbar-home {
    color: white;
}

.navbar-login {
    color: white;
}

.navbar-register {
    color: white;
    padding: 0.35rem;
    border-radius: 6px;
}

.navbar-user {
    color: white
}

.navbar-logout {
    color: white;
    padding: 0.35rem;
}
