.edit-card-container {
  width: 80%;
  margin: 0 auto;
}

.list-lesson-to-edit {
  width: 80%;
  margin: 0 auto;
}

.edit-card-header {
  text-align: center;
  margin-top: 5px;
  font-size: larger;
  font-weight: bold;
}

.form-edit {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
